.portfolio{
    min-width: 300px;
    min-height: 400px;
    display: inline;
    text-align: center;
    font-size: larger;
}

p{
    text-align: justify;
}

.w3-card-4 img{
    position: relative;
    width:60%;
    height:300px;
}

.w3-center>li{
    list-style-type: none;
}
.w3-card-4{
    align-content: center;
    width: 400px;
}
.btn-icon {
    text-align: center;
}

.btn-round {
    height: 20px;
    min-width: 20px;
    width: 20px;
}

.blockquote .rounded-circle {
    width: 200px;
    height: 200px;
}

.title {
    color: #F44336;
}

.description {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    text-align:center;
}

.category{
    text-align: center;
}