@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="~/Content/about.css">

<div class="col-md-12 column">
    <br>
    <div class="row clearfix">
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#team" aria-expanded="false" aria-controls="team">
                <div class="panel-heading w3-container w3-light-grey">
                    <span class="label label-default"> ©Team Y-Nots</span>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="https://github.com/MonashIE2017S2/thesecondhome" class="fa fa-github"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div>
            </a>
            <div class="panel-body" id="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="w3-card-4 w3-center w3-hover-teal">
                            <div class="w3-container w3-center">
                                Roshan
                            </div>
                            <img src="~/Image/roshan.PNG">
                            <div class="w3-container w-right">
                                <ul class="w3-center">
                                    <li>Developer</li>
                                    <li>Master of Information Technology Student,</li>
                                    <li>Monash University</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="w3-card-4 w3-center w3-hover-teal">
                            <div class="w3-container w3-center">
                                Yang
                            </div>
                            <img src="~/Image/yang.PNG" class="image">
                            <div class="w3-container w-right">
                                <ul class="w3-center">
                                    <li>Developer</li>
                                    <li>Master of Information Technology Student,</li>
                                    <li>Monash University</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br /><br />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="w3-card-4 w3-center w3-hover-teal">
                            <div class="w3-container w3-center">
                                Cary
                            </div>
                            <img src="~/Image/cary.PNG" class="image">
                            <div class="w3-container w-right">
                                <ul class="w3-center">
                                    <li>Business Analyst</li>
                                    <li>Master of BIS Student,</li>
                                    <li>Monash University</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="w3-card-4 w3-center w3-hover-teal">
                            <div class="w3-container w3-center">
                                Han
                            </div>
                            <img src="~/Image/han.PNG" class="image">
                            <div class="w3-container w-right">
                                <ul class="w3-center">
                                    <li>Business Analyst</li>
                                    <li>Master of BIS Student,</li>
                                    <li>Monash University</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>