@{
    ViewBag.Title = "Email Help";
}

<link rel="stylesheet" href="~/Content/about.css">
<div class="col-md-1 column">
</div>
<div class="col-md-10 column">
    <br>
    <div class="row clearfix">
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#overview" aria-expanded="false" aria-controls="overview">
                <div class="panel-heading w3-container w3-light-grey">
                    Gmail User
                </div>
            </a>
            <div class="panel-body" id="overview">
                <p>If you are a Gmail user, just follow the Youtube video below and allow gmail open all link of email</p>
                <p>Just login your Gmail account once, then the browser will remember your account.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LwKV5A_Tdxs" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#overview" aria-expanded="false" aria-controls="overview">
                <div class="panel-heading w3-container w3-light-grey">
                    Windows User
                </div>
            </a>
            <div class="panel-body" id="overview">
                <ol>
                    <li>Click on the Start Menu button bottom-left</li>
                    <li>Now click on the Settings menu item</li>
                    <li>Then click the System icon</li>
                    <li>Now click on the Default apps menu item</li>
                    <li>Look for the Email heading</li>
                    <li>Click on the current default email client just below heading</li>
                    <li>The Choose an app menu should now be in view</li>
                    <li>Click on the email client you wish to make the default app</li>
                    <li>Close the Settings window</li>
                </ol>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5v3On77NDT8" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="panel panel-default">
            <a data-toggle="collapse" href="#references" aria-expanded="false" aria-controls="collapseExample">
                <div class="panel-heading w3-container w3-light-grey">
                    Mac User
                </div>
            </a>
            <div class="panel-body" id="references">
                <ol>
                    <li>Open the “Mail” application in OS X – yes open the Mail app even if you’re wanting to use another mail client</li>
                    <li>Pull down the “Mail” menu and choose “Preferences”</li>
                    <li>Go to the “General” tab</li>
                    <li>Look for “Default email reader” and click on the menu to pull down other mail app options – if the mail app you want to use is not shown in this list choose “Select” to browse the /Applications/ folder and select one manually</li>
                </ol>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rm58pDLk9VA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="col-md-1 column">
</div>